<mat-card>
  <h3>Select Widget!</h3>
  <form [formGroup]="createForm" class="form" (ngSubmit)="saved.emit()">
    <mat-form-field class="full-width">
      <mat-label>Title *</mat-label>
      <input formControlName="title" matInput placeholder="Widget">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput placeholder="Pending..."></textarea>
    </mat-form-field>

    <div>
      <button mat-raised-button [disabled]="createForm.invalid" (click)="saved.emit()">Save</button>
      <button mat-raised-button color="warn" (click)="cancelled.emit()">Close</button>
    </div>
  </form>
</mat-card>